* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(41, 31, 91);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 50px;
  color: white;
}
h1 {
  padding: 15px;
}
label {
  display: flex;
  flex-direction: row;
}

#country-input {
  height: 50px;
  width: 400px;
  background: none;
  border-radius: 50px;
  font-size: 25px;
  color: white;
  border: 2px solid rgb(131, 98, 214);
  padding-left: 25px;
}

#input-btn {
  height: 50px;
  width: 80px;
  border-radius: 50px;
  margin-left: -80px;
  margin-top: 2px;
  background: rgb(131, 98, 214);
  border: 2px solid rgb(131, 98, 214);
}

#country-section {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

img {
  padding-top: 20px;
  padding-bottom: 20px;
}
